.photo-block {
    font-family: "Times New Roman";
  }
  
  .photo-block__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .photo-block__item {
    flex-basis: calc(33.3333% - 30px);
    margin: 0 15px 30px; 
  }
  
  .photo-block__item-adults,
  .photo-block__item-children,
  .photo-block__item-self-defence {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .photo-block__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
  }
  
  .photo-block__content {
    padding: 20px;
  }
  
  .photo-block__title {
    font-family: "Rajdhani", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    line-height: 1.4;
    color: var(--classic-white);
    margin-bottom: 10px;
  }
  
  .photo-block__description {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 19.6px;
    text-align: left;
    color: var(--classic-white);
    margin-bottom: 20px;
  }
  
  .photo-block__cta-button {
    color: var(--classic-white);
    background-color: var(--red-color);
    font-family: Roboto, sans-serif;
    display: inline-block;
    padding: 15px 30px;
    font-size: 13.2px;
    font-stretch: 100%;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .photo-block__cta-button:hover {
    color: var(--black-color);
    background-color: var(--classic-white);
  }
  
  @media (max-width: 768px) {
    .photo-block__item {
      flex-basis: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .photo-block__item-adults {
    background: url("../img/classes_photo_adults.png") center/cover no-repeat;
  }
  
  .photo-block__item-children {
    background: url("../img/classes_photo_children.png") center/cover no-repeat;
  }
  
  .photo-block__item-self-defence {
    background: url("../img/classes_photo_self-defence.png") center/cover no-repeat;}